
@attribute [AllowAnonymous]

<section class="h-100 gradient-from" style="background-color:aliceblue;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">

            </div>
        </div>

    </div>
</section>
