@using SmartMngShop.Web.Components.Layout
@using System.ComponentModel.DataAnnotations
@page "/login"

@layout AuthLayot
@attribute [AllowAnonymous]
@inject NavigationManager navigationManager

<EditForm method="post" Model="LoginForm" OnInvalidSubmit="PerformLogin" FormName="login"
            style="margin-top:-10">
    <hr />
    <div class="form-outline">
        <label for="email" class="form-lable">Email:</label>
        <InputText @bind-Value="LoginForm.Email" requried placeholder="user@example.com"
         class="form-control"/>
    </div>
    <div class="form-outline">
        <label for="password" class="form-lable">Password:</label>
        <InputText type="password" requried @bind-Value="LoginForm.Password" class="form-control" />
    </div>
    <div class="text-center pt-1 mb-5 pb-1">
        <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Login</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public LoginModel LoginForm { get; set; } = new();

    public async Task PerfomrLogin(EditContext editContext)
    {
        navigationManager.NavigateTo("/");
    }

    private class LoginModel
    {
        [Required]
        [EmailAddress]
        [Display(Name="Email")]
        public string Email { get; set; } = string.Empty;

        [Required]
        [DataType(DataType.Password)]
        [Display(Name="Password")]
        public string Password { get; set; } = string.Empty;
    }

}
